<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/indexcss.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico')}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='images/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='images/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='images/favicon-16x16.png')}}">
        <link rel="manifest"href="{{ url_for('static',filename='images/site.webmanifest')}}">
		<title>Flames Scoreboard</title>
		<script defer src="{{ url_for('static', filename='scripts/main.js') }}"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				if(document.body.getAttribute('data-page') === 'scoreboard'){
					fetch('/displayTimeRemaining')
					.then(response => response.text())
					.then(data => console.log(data));
				}
			});
		</script>
</head>
<body data-page = "{{ page }}">
    <div class="container">
        <header>
            <img src="{{ url_for('static',filename='images/main_logo.png')}}" alt="Flames Logo">
        </header>
        <main>
            <section id="timerButtons">
                <h2><span id="timer">--:--</span></h2>
                <div class="team-scores">
                    <h3><span id="home_Team">Home</span>: <span id="home_Score">0</span></h3>
                    <h3><span id="away_Team">Away</span>: <span id="away_Score">0</span></h3>
                </div>
                <button id="timerStart">Start Timer</button>
                <button id="timerPause">Pause Timer</button>
                <button id="timerStop">Stop Timer</button>
            </section>
            <div class="score">
                <div class="score-group" id="home">
                    <h3>Home</h3>
                    <ul>
                        <li><button id="homePlus" class="plus">+</button></li>
                        <li><button id="homeMinus">-</button></li>
                    </ul>
                </div>
                <div class="score-group" id="away">
                    <h3>Away</h3>
                    <ul>
                        <li><button id="awayPlus" class="plus">+</button></li>
                        <li><button id="awayMinus">-</button></li>
                    </ul>
                </div>
            </div>
        </main>
        <footer>
            <button onclick="goBack()">Return</button>
			<p>Developed for Flames Ice Hockey Club by Gloverfield Studios</p>
            <script>
                function goBack() {
                    window.history.back();
					fetch('/displayTemperature')
					.then(response => response.text())
					.then(data => console.log(data));
                }
            </script>
            <p id="outcomeText"></p>
        </footer>
    </div>
</body>
</html>
