<!DOCTYPE html>
<html>
	<head>
		<title>LED Controller</title>
		<style>
			body {
				font-family: sans-serif; margin: 64px; background-color: #222;
				color: #EEE;
			}
		</style>
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const button = document.getElementById("buttonInteract");
				const outcomeText = document.getElementById("outcomeText");

				button.addEventListener("click", () => {
					button.innerHTML = "Loading...";
					button.setAttribute("disabled", "true");

					fetch("/interact").then(res => {
						if (res.status !== 204) {
							throw new Error(`Got a ${res.status} status code response.`);
						}

						outcomeText.innerHTML = "Request handled successfully!";
					})
					.catch(err => {
						outcomeText.innerHTML = `An error occurred: ${err.message}`;
					})
					.finally(() => {
						button.innerHTML = "Interact";
						button.removeAttribute("disabled");
					});
				});
			});
		</script>
	</head>
	<body>
		<h2>LED Interaction</h2>
		<p>
			Click the button below to send a request to the Raspberry PI to
			get it to do something!
		</p>
		<button id="buttonInteract">Interact</button>
		<p id="outcomeText"></p>
	</body>
</html>
